[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = ../nvim-config.git
[submodule "contest_env/.CP/contest_files"]
	path = contest_env/.CP/contest_files
	url = ../contest_files.git
[submodule "contest_env/.CP/contest_templates"]
	path = contest_env/.CP/contest_templates
	url = ../contest_templates.git
	 
