[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/sarvagya2545/nvim-config
[submodule "contest_env/.CP/contest_files"]
	path = contest_env/.CP/contest_files
	url = https://github.com/sarvagya2545/contest_files
