[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/sarvagya2545/nvim-config
[submodule "contest_env/.CP/contest_files"]
	path = contest_env/.CP/contest_files
	url = https://github.com/sarvagya2545/contest_files
[submodule "contest_env/.CP/contest_templates"]
	path = contest_env/.CP/contest_templates
	url = https://github.com/sarvagya2545/contest_templates
[submodule "karabiner/.config/karabiner"]
	path = karabiner/.config/karabiner
	url = git@github.com:sarvagya2545/karabiner.git
